<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Edit User</div>
                    <div class="card-body">
                        <form id="editUser" name="editUser" method="PATCH">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">{{ singleUser.id }}</th>
                                    <td><input type="text" name="name" v-model="singleUser.name"/></td>
                                    <td><input type="text" name="email" v-model="singleUser.email"/></td>
                                    <td v-if="singleUser.role_id === 1">Admin</td>
                                    <td v-else-if="singleUser.role_id === 2">User</td>
                                    <td v-show="isAdmin === 1">
                                        <button type="submit" class="btn btn-primary btn-block" @click.prevent="save(singleUser.id)">Save</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <input type="hidden" name="id" v-model="singleUser.id" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        props: ['singleUser', 'isAdmin'],

        data() {
            return {
                singleUser: {
                    name: '',
                    email: ''
                },
                errors: []
            }
        },

        methods: {
            save(id) {
                console.log(this.$data);
                axios.patch('/users/' + id + '/save', this.$data);

                    // .then(response => alert('Successfully edited a user!'));
            }
        }
    }
</script>
